body{
    margin: 0;
    background: #E1F1FF;
}
.logo-gov{
    width: 128px;
    height: 99px;
    background: url("../imagem/imagem1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 70px;
    overflow: hidden;
}
.fundo-inicial{
    width: 100%;
    height: 100px;
    background: #1DCCFF;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.logo-ete{
    width: 128px;
    height: 99px;
    background: url("../imagem/image\ 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 240px;
    overflow: hidden;
}
.search-box{
    position: absolute;
    top: 30px;
    right: 100px;

    background: #E1F1FF;
    border-radius: 40px;
    padding: 8px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pesquisa{
    width: 0;
    background: none;
    border: 0;
    outline: 0;

    padding: 0;
    transition: 0.4s;

    font-size: 16px;
}
.lupa-azul{
    width: 30px;
    height: 30px;
    background: url("../imagem/lupa.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.lupa-clara{
    width: 30px;
    height: 30px;
    background: url("../imagem/lupaciana.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
.btn{
    width: 50px;
    height: 40px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.search-box:hover > .pesquisa{
    width: 100%;
    padding-left: 10px;
}

.search-box:hover > .btn {
    background: #1DCCFF;
}

.search-box:hover > .btn .lupa-azul {
    display: none;
}
.search-box:hover > .btn .lupa-clara {
    display: block;
}
.foto-grande {
    width: 100%;
    height: 450px;
    background: url("../imagem/image\ 2.png");
    background-image: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
}
.haste{
    width: 10px;
    height: 300px;
    background: #94E7FF;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 150px;
    border-radius: 40px;
}
.texto1{
    width: 500px;
    height: 100px;
    opacity: 1;
    color: #E1F1FF;
    position: absolute;
    top: 230px;
    left: 200px;
    font-family: open sans;
    font-weight: Bold;
    font-size: 60px;
}
